* {
    margin: 0;
    padding: 0;
}

@-webkit-keyframes spin {
    0% {
        transform: rotateY(0deg) rotateX(0deg) rotateZ(0deg);
    }
    20% {
        transform: rotateY(72deg) rotateX(72deg) rotateZ(72deg);
    }
    40% {
        transform: rotateY(144deg) rotateX(144deg) rotateZ(144deg);
    }
    60% {
        transform: rotateY(216deg) rotateX(216deg) rotateZ(216deg);
    }
    80% {
        transform: rotateY(288deg) rotateX(288deg) rotateZ(288deg);
    }
    100% {
        transform: rotateY(360deg) rotateX(360deg) rotateZ(360deg);
    }
}
/*魔方的父级*/
#cube {
    width: 600px;
    height: 600px;
    margin: auto;
    position: relative;
    perspective: 2000px;
    perspective-origin:0 50%;
}
/*设置魔方的动画*/
.container {
    width: 400px;
    height: 400px;
    position: absolute;
    transform-style: preserve-3d;
    -webkit-animation: spin 3s ease infinite;
}
/*魔方的每个面的共同特征*/
.container > div {
    width: 200px;
    height: 200px;
    background: rgba(0, 0, 0, 0.2);
    color: #000;
    font: 100px bold;
    text-align: center;
    line-height: 200px;
    border: 2px #000 solid;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -100px 0 0 -100px;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
    text-transform: uppercase;
    
}
/*每个面的设定*/
.container div:nth-child(1) {
    transform: translateZ(100px);
}

.container div:nth-child(2) {
    /*
			transform:rotateX(-90deg) translateY(0px);*/
    transform: rotateX(-90deg) translateZ(100px);
    /*之前理解错误了，其实每个面都有属于自己的xy轴*/
}

.container div:nth-child(3) {
    transform: rotateY(90deg) translateZ(100px);
}

.container div:nth-child(4) {
    transform: rotateX(90deg) translateZ(100px);
}

.container div:nth-child(5) {
    transform: rotateY(-90deg) translateZ(100px);
}

.container div:nth-child(6) {
    transform: rotateY(180deg) translateZ(100px);
}
.container div:nth-child(7) {
    transform:translateZ(33px);
    border: 4px #000 solid;
}

.container div:nth-child(8) {
    transform:translateZ(-34px);
    border: 4px #000 solid;
}

.container div:nth-child(9) {
    transform: rotateY(90deg) translateZ(-33px);
    border: 4px #000 solid;
}

.container div:nth-child(10) {
    transform: rotateY(90deg) translateZ(33px);
    border: 4px #000 solid;
}
.container div:nth-child(11) {
    transform:rotateX(90deg) translateZ(-33px);
    border: 4px #000 solid;
}

.container div:nth-child(12) {
    transform:rotateX(90deg) translateZ(33px);
    border: 4px #000 solid;
}